<div id='sidebar'>
    <aside >
        <p> Menu </p>
        <a href="/listaProducto">
          <i class="fa fa-user-o" aria-hidden="true"></i>
          Lista de Productos
        </a>
        <a href="/addProducts">
          <i class="fa fa-laptop" aria-hidden="true"></i>
          Agregar Productos
        </a>
        <a href="/addCategory">
          <i class="fa fa-clone" aria-hidden="true"></i>
          Agregar categorias
        </a>
        <a href="/ventas">
          <i class="fa fa-star-o" aria-hidden="true"></i>
          Ventas
        </a>
        <a href="javascript:void(0)">
          <i class="fa fa-trash-o" aria-hidden="true"></i>
          Recordatorio
        </a>
      </aside>

</div>


